DATABASE_URL="file:/app/data/dev.db"

SECRET_KEY=your-super-secret-key-change-this

SECRET_HEADER=your-secret-header-change-this

PORT=3000

NODE_ENV=development # or production

COOKIE_SECURE=false # or true quando for usar https